<h1><%= t('editing listing') %></h1>

<%= render 'form', listing: @listing %>

<%= link_to t('view'), @listing, class:"btn btn-link" %> |
<%= link_to t('back'), listings_path, class:"btn btn-link" %>
