<h1><%= t('about') %></h1>

<div style="letter-spacing: 2px; text-align:justify">
    <p>
        FleaMart - лідируюча платформа оголошень в світі, яка надає послуги онлайн-майданчиків в конкретних країнах. FleaMart з'єднує людей для покупки, продажу або обміну товарами і послугами. За допомогою FleaMart будь-яка людина може легко і просто опублікувати оголошення з мобільного пристрою або комп'ютера.
        Щомісяця сотні мільйонів людей по всьому світу продають і купують через FleaMart різноманітні товари, включаючи комп'ютери, мобільні телефони, меблі, спортивні товари, автомобілі, нерухомість, послуги та багато іншого.
    </p>
        <br/><hr><br/>
    <div style="text-align:center">
        <img class="size-full wp-image-16818 aligncenter" alt="about_1" src="http://blog.olx.ua/wp-content/uploads/2011/10/about_1.jpg" width="590" height="250" /></a>
    </div>
        <br/><hr><br/>
    <p>
        Ми віримо в те, що світ можна зробити краще: FleaMart покращує життя людей, поєднуючи їх разом для взаємовигідних угод. Продавці можуть легко заробити додаткові гроші, просто публікуючи оголошення і продаючи речі, які їм більше не потрібні. Таким чином вони дають можливість покупцям знайти цінні товари за прийнятними цінами.
    </p>
</div>

