<div style="padding: 50px">

            <div class="bgef pding5_10">
                <h2 class="c62 large fbold margin5_0" id="r1"> 1. ЗАГАЛЬНІ ПОЛОЖЕННЯ <a class="fright xx-small" href="#top"> Повернутись до початку </a> </h2>
            </div>
            <ul class="separate">
                <li>
                    ТОВ «ЄМАРКЕТ УКРАЇНА», (далі Виконавець та/або Компанія) публікує цей Публічний договір (Угода та/або Оферта) про надання послуг на інтернет-сайті Виконавця <a href="https://www.olx.ua" target="_blank" class="link"><span>https://www.olx.ua</span></a> та додатках OLX.ua для мобільних пристроїв на базі операційних систем iOS, Android, Windows mobile/Windows Phone.
                </li>
                <li>
                    Відповідно до статті 633 Цивільного Кодексу України (ЦК України) ця Угода є публічним договором, і в разі прийняття (акцепту) викладених нижче умов будь-яка дієздатна фізична або юридична особа (далі Користувач) зобов'язується виконувати умови цієї Угоди.
                </li>
                <li>
                    У цій оферті, якщо зміст не вимагає іншого, наведені нижче терміни вживаються у такому значенні:
                    <ul class="dotted margintop5 marginbott20 marginleft20">
                        <li><strong>Оферта</strong> - публічна пропозиція Виконавця, адресована будь-якій дієздатній фізичній та/або юридичній особі, укласти з ним Публічний договір про надання послуг на умовах, що містяться в цій Угоді, зважаючи на всі додатки;</li>
                        <li><strong>Акцепт</strong> - повне прийняття Користувачем умов Угоди;</li>
                        <li><strong>Виконавець</strong> - ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ «ЄМАРКЕТ УКРАЇНА», юридична адреса: вул. Болсуновська, 13-15, м. Київ, Україна, 01014;</li>
                        <li><strong>Сайт/и</strong> - інтернет-сайт <a href="https://www.olx.ua" class="link" target="_blank"><span>https://www.olx.ua</span></a>, додатки OLX.ua для мобільних пристроїв на базі операційних систем iOS, Android, Windows mobile/Windows Phone, які адмініструються Компанією і представляють собою комунікаційну платформу для розміщення тимчасових класифікованих оголошень (далі по тексту - Сайт та/або Сайти);</li>
                        <li><strong>Користувач</strong> - будь-яка дієздатна фізична або юридична особа, яка прийняла умови цієї Угоди та користується послугами Компанії. Від імені юридичної особи користування Сайтом здійснюється уповноваженим співробітником / представником такої юридичної особи. Умови використання корпоративних облікових записів викладені у Додатку 2 до цієї Угоди;</li>
                        <li><strong>Бізнес-користувач</strong> - Користувач, що використовує Сайт у бізнес-цілях, та відповідає хоча б одній із зазначених у даній Угоді ознак. Користувач може вважатися Компанією Бізнес-користувачем незалежно від того, чи зареєстрований такий Користувач як суб’єкт підприємницької діяльності у встановленому законодавством порядку, чи здійснює таку діяльність без відповідної реєстрації;</li>
                        <li><strong>Товар</strong> - будь-який матеріальний і нематеріальний об'єкт;</li>
                        <li><strong>Послуга</strong> - будь-яка операція, що не є постачанням товарів, пов'язана з наданням сервісу, який споживається в процесі вчинення певної дії або здійснення певної діяльності, для задоволення особистих потреб замовника;</li>
                        <li><strong>Послуги/сервіс OLX.ua</strong> - будь-які платні та безкоштовні сервіси, що надаються Виконавцем за допомогою Сайтів (наприклад, в тому числі, але не виключно, всіх його можливостей, тексту, даних, інформації, програмного забезпечення, графіків або фотографій, малюнків і т. д. і т.п.), та будь-яких інших послуг, що надаються Компанією за допомогою сервісів Сайтів.</li>
                        <li><strong>Обліковий запис/аккаунт</strong> - електронний кабінет Користувача в функціональній системі Сайтів, за допомогою якого він може керувати своїми оголошеннями на Сайтах. Обліковим записом / аккаунтом може користуватися тільки один Користувач, передача даних для доступу до свого облікового запису / аккаунту  іншому користувачеві (іншій особі) не допускається;</li>
                        <li><strong>Реєстрація</strong> - прийняття Користувачем оферти на укладання цієї Угоди і процедура, в ході якої Користувач за допомогою заповнення відповідних форм Сайту надає необхідну інформацію для використання сервісів Сайту. Реєстрація вважається завершеною тільки в разі успішного проходження всіх її етапів відповідно до опублікованих на Сайті інструкцій.</li>
                        <li><strong>Персональні дані</strong> - це відомості чи сукупність відомостей про фізичну особу, яка за їх допомогою ідентифікована або може бути конкретно ідентифікована.</li>
                        <li><strong>SMS-верифікація</strong> - це перевірка Користувача, яка здійснюється шляхом введення спеціального коду верифікації, надісланого Компанією в SMS-повідомленні на номер, вказаний Користувачем на сторінці верифікації, в відповідне поле на сторінці верифікації.</li>
                        <li><strong>Розміщення</strong> - це дія <strong>Користувача</strong> - публікація, або активація одного оголошення. Розміщенням також є зміна існуючого оголошення, якщо така зміна передбачає зміну, і / або додавання товару, зміна істотних характеристик товару, зміна регіону.</li>
                    </ul>
                </li>
                <li>
                    Якщо Користувач не згоден з цією Угодою повністю або частково, Виконавець просить його залишити цей сайт, та/або видалити додаток з пристрою. Ці умови регулюють використання Користувачем Сайтів та послуг OLX.ua. Використання послуг сайту OLX.ua означає, що Користувач ознайомлений з цією Угодою, розуміє і приймає її умови.
                </li>
                <li>
                    Починаючи використовувати будь-який сервіс OLX.ua, встановлюючи додаток, або пройшовши процедуру реєстрації, Користувач підтверджує свою дієздатність та прийняття  умов Угоди в повному обсязі, без будь-яких застережень і винятків. У разі незгоди Користувача з будь-яким з положень цієї Угоди, Користувач не має права використовувати сервіси OLX.ua.
                </li>
                <li>
                    Цим Компанія пропонує Користувачам мережі Інтернет використовувати свої сервіси на умовах, викладених в цій Угоді.
                </li>
                <li>
                    Компанія пропонує Користувачеві послуги з використання Сайтів для розміщення інформації про товари (послуги) з метою, в тому числі, але не виключно, подальшої купівлі або продажу різних товарів та послуг іншими Користувачами.
                </li>
                <li>
                    Всі угоди укладаються між Користувачами безпосередньо. Таким чином, Компанія не є учасником угод Користувачів, а лише надає комунікаційну торговельну платформу для розміщення оголошень.
                </li>
            </ul>
            <div class="bgef pding5_10">
                <h2 class="c62 large fbold margin5_0" id="r2"> 2. РОЗМІЩЕННЯ ОГОЛОШЕНЬ <a class="fright xx-small" href="#top"> Повернутись до початку </a> </h2>
            </div>
            <ul class="separate">
                <li>
                    Користувач отримує право розміщувати оголошення на Сайті після заповнення спеціальної форми із зазначенням параметрів запропонованих товарів або послуг.
                </li>
                <li>
                    Користувач також має право зареєструватися на Сайтах з метою отримання додаткових сервісів, заповнивши формуляр із зазначенням дійсної електронної адреси, до якої має доступ тільки користувач, номера мобільного телефону, а також інших даних, необхідних для реєстрації. Після цього Користувач отримує електронний лист з підтвердженням реєстрації, що містить посилання, перехід за яким необхідний для завершення реєстрації, або SMS повідомлення із паролем для входу до облікового запису (аккаунта).
                </li>
                <li>
                    Користувач має право створити обліковий запис і увійти на Сайт, використовуючи дані облікового запису в Facebook через підключення Facebook Connect. Користувач, який не зареєстрований на Сайті, для реєстрації за допомогою Facebook, повинен ввести дані свого облікового запису (логін і пароль) Facebook за запитом системи, після чого зможе скористатися сервісами Сайту. Реєструючись на Сайті через через підключення Facebook Connect, Користувач надає Компанії додаткові персональні дані. Детальна інформація про персональні дані, які надаються Компанії і обробляються Компанією - в <a href="#r12">Додатку №1</a> до Угоди.
                </li>
                <li>
                    Використання можливостей і сервісів Сайтів, як зареєстрованими так і незареєстрованими Користувачами означає прийняття зобов'язань дотримуватися правил та інструкцій щодо користування послугами OLX.ua, в тому числі цієї Угоди.
                </li>
                <li>
                    Користувач несе відповідальність за всі дії з використанням його електронної адреси, номера мобільного телефону та пароля для входу на Сайти. Користувач має право користуватися сервісами Сайтів тільки за допомогою власної електронної адреси, мобільного телефону та пароля. У разі передачі даних для доступу до облікового запису/аккаунта іншому користувачеві (іншій особі), такий обліковий запис/акаунт може бути заблокований на розсуд Адміністрації.
                </li>
                <li>
                    Користувач зобов'язується зберігати конфіденційність пароля і не розкривати/передавати його третім особам.
                </li>
                <li>
                    Користувач зобов'язаний негайно змінити дані для входу на Сайти, якщо у нього є причини підозрювати, що його електронну адресу, телефон та пароль, які використовуються для входу на Сайти, були розкриті, або можуть бути використані третіми особами.
                </li>
                <li>
                    Користувач, який розміщує оголошення про продаж товарів або послуг на Сайті, зобов'язується розмістити інформацію про них відповідно до цієї Угоди та інструкцій, представлених на Сайті та надати точну і повну інформацію про товари або послуги та умови їх продажу. Розміщуючи інформацію про товар або послугу, Користувач підтверджує, що він має право продавати цей товар або надавати цю послугу відповідно до вимог законодавства країн, в яких вони реалізуються.
                </li>
                <li>
                    Користувач гарантує, що запропоновані ним товари/послуги відповідають нормам якості, які встановлені законодавством країн, для яких вони реалізуються і вільні від претензій третіх осіб.
                </li>
                <li>
                    Користувач гарантує, що запропоновані ним послуги, у разі, якщо їх надання вимагає спеціального дозволу, будуть надані відповідно до вимог законодавства країн, спеціальні органи яких будуть уповноважені здійснювати нагляд за такою діяльністю Користувача.
                </li>
                <li>
                    Користувач зобов'язаний ретельно перевірити всю інформацію про товари і послуги, що розміщені ним на Сайтах та у разі виявлення невірної інформації, додати необхідні відомості в опис товару або послуги. Якщо виправити невірну інформацію неможливо, анулюйте оголошення та повторно розмістіть інформацію про товар або послугу.
                </li>
                <li>
                    Умови доставки повинні включатися в опис товару, а умови надання послуг в опис послуги. Умови продажу товару та надання послуг, складені Користувачем, не повинні суперечити цій Угоді та чинному законодавству країн, для яких вони реалізуються.
                </li>
                <li>
                    Користувач зобов'язується не надавати активну підтримку і не поширювати інформацію про послуги, що надаються конкурентами Виконавця, у тому числі, але не виключно:
                    <ul class="dotted margintop5 marginbott20 marginleft20">
                        <li>Інформацію про інші дошки оголошень, торгові майданчики, інтернет-аукціони та/або інтернет-магазини;</li>
                        <li>Інтернет-ресурсах, що пропонують товари та послуги, заборонені до продажу на Сайтах.</li>
                    </ul>
                </li>
                <li>
                    Компанія має право перемістити, завершити або продовжити термін демонстрації товару або послуги Користувача з технічних причин, що знаходяться під контролем або поза контролем Компанії. Компанія має право припинити демонстрацію оголошення, якщо Користувач зареєстрував товар або послугу, з порушенням умов цієї Угоди або чинного законодавства.
                </li>
                <li>
                    Користувачу заборонено:
                    <ul>
                        <li>Публікувати однакові оголошення з однієї адреси електронної пошти / номера мобільного телефону;</li>
                        <li>Публікувати схожі за змістом оголошення, де очевидно, що мова йде про ту саму пропозицію;</li>
                        <li>Дублювати однакові оголошення з різних адрес електронної пошти / номерів мобільних телефонів;</li>
                        <li>Публікувати оголошення в рубриці, яка не відповідає змісту оголошення;</li>
                        <li>Публікувати оголошення, в заголовку яких містяться повторювані знаки пунктуації та/або не літерні символи;</li>
                        <li>Публікувати оголошення, опис і/або заголовок/фотографії яких є непов'язаними, не розбірливими;</li>
                        <li>Публікувати оголошення з пропозицією кількох товарів і послуг одночасно;</li>
                        <li>Вставляти в оголошенні посилання на ресурси, які містять шкідливі елементи або посилання на головну сторінку сайту;</li>
                        <li>Розміщувати оголошення про товар або послугу, якщо таке розміщення може призвести до порушення застосовного законодавства;</li>
                        <li>Оголошення повинні відповідати географічній області та місту, обраним у відповідних функціональних налаштуваннях Сайтів.</li>
                        <li>Дозволяється розмістити одне оголошення щодо одного конкретного предмета, об'єкта майна, вакансії, послуги.</li>
                        <li>Оголошення можуть проходити вибіркову перевірку (модерацію) представниками Компанії, як перед, так і після розміщення.</li>
                        <li>Забороняється розміщувати оголошення, що рекламують продаж:
                            <ul class="dotted margintop5 marginbott20 marginleft20">
                                <li>спиртних напоїв;</li>
                                <li>сигарет та тютюнової продукції;</li>
                                <li>наркотичних речовин та прекурсорів;</li>
                                <li>порнографічних матеріалів або предметів;</li>
                                <li>фармакологічних продуктів, медикаментів;</li>
                                <li>вкрадених, отриманих не законним способом товарів;</li>
                                <li>предметів, які становлять небезпеку для життя і здоров'я;</li>
                                <li>неіснуючих товарів;</li>
                                <li>людських органів і органів тварин;</li>
                                <li>спеціальних технічних засобів для таємного отримання інформації;</li>
                                <li>державних нагород;</li>
                                <li>персональних документів та бланків цих документів;</li>
                                <li>баз даних;</li>
                                <li>вогнепальної, холодної, травматичної зброї, також боєприпасів і комплектуючих до них;</li>
                                <li>спеціальних засобів активної оборони, що застосовуються правоохоронними органами;</li>
                                <li>іклів моржа, бивнів слона та мамонта поза виробом, а також дорогоцінних металів та каміння поза виробом;</li>
                                <li>рідкісних і заборонених до продажу тварин, в т.ч. тварин занесених до списку міжнародної конвенції СІТЕС (про торгівлю рідкісними та зникаючими видами флори і фауни);</li>
                                <li>будь-яких інших заборонених відповідним законодавством товарів і послуг.</li>
                            </ul>
                            З повним списком заборонених на Сайті товарів, послуг і пропозицій можна ознайомитися за посиланням: <a href="http://help.olx.ua/hc/uk/articles/206715609" class="link" target="_blank"><span>http://help.olx.ua/hc/uk/articles/206715609</span></a>. Компанія має право видаляти оголошення на вимогу правовласника або компетентних державних органів. Компанія також залишає за собою право видаляти будь-які оголошення, які на її думку не відповідають принципам та засадам суспільної моралі. Рішення про видалення є остаточним і оскарженню не підлягає.
                        </li>
                    </ul>
                </li>
                <li>
                    Адміністрація та модератори Сайту (представники Компанії) мають право:
                    <ul>
                        <li>Вносити в текст оголошення Користувача виправлення, що стосуються орфографії і пунктуації, які не впливають на загальний зміст оголошення;</li>
                        <li>Переносити оголошення в інші рубрики Сайту у разі виявлення більш придатної рубрики для їх розміщення;</li>
                        <li>Відмовити в публікації оголошень, якщо вони не відповідають тематиці вибраних розділів, або порушують цю Угоду, та обмежувати кількість оголошень від одного Користувача з метою зручності користування Сайтом без пояснення причин;</li>
                        <li>Не допускається використання некоректних характеристик предмета пропозиції в оголошенні. У тому числі використання цін, що не відповідають фактичній ціні реалізації товару або послуги. Ціна повинна бути вказана повністю за весь товар або послугу;</li>
                        <li>Заголовок оголошення повинен відповідати тексту самого оголошення і не повинен містити контактну або персональну інформацію про Користувача (телефон, електронні адреси, адресу інтернет-ресурсу тощо);</li>
                        <li>Фото, яке демонструє товар/послугу, пропоновані Користувачем до продажу, мають відповідати заголовку та тексту оголошення. На фото має бути зображений лише пропонований об'єкт. Стокові фото та/або фото, завантажені з мережі Інтернет, заборонені.</li>
                        <li>Щоб полегшити взаємодію між Користувачами, Компанія може встановлювати обмежений доступ до контактної інформації інших Користувачів. Право використання відомостей, наданих іншими Користувачами, обмежується цією Угодою.</li>
                        <li>Компанія не несе відповідальності за зміст оголошень або гіперпосилань на ресурси, зазначені в описі повідомлень користувачів;</li>
                        <li>Предметом оголошень можуть бути товари або послуги, реалізація яких не заборонена та не обмежена відповідно до законодавства країни, в яких вони реалізуються, та не суперечить цій Угоді.</li>
                    </ul>
                </li>
                <li>Для обліку кількості розміщених оголошень за одиницю приймається 1 (одне) Розміщення.</li>
            </ul>
            <div class="bgef pding5_10">
                <h2 class="c62 large fbold margin5_0" id="r3">3. УМОВИ ОБРОБКИ ПЕРСОНАЛЬНИХ ДАНИХ КОРИСТУВАЧІВ ТА ЗГОДА НА ОБРОБКУ <a class="fright xx-small" href="#top"> Повернутись до початку </a> </h2>
            </div>
            <ul class="separate">
                <li>У разі розміщенні оголошень користувачі Сайту надають Компанії право на обробку їх персональних даних на умовах, передбачених в Додатку №1 (ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ) до цієї Угоди.</li>
            </ul>
            <div class="bgef pding5_10">
                <h2 class="c62 large fbold margin5_0" id="r4"> 4. ВІДОМОСТІ, ЩО НАДАЮТЬСЯ КОРИСТУВАЧЕМ <a class="fright xx-small" href="#top"> Повернутись до початку </a> </h2>
            </div>
            <ul class="separate">
                <li>Компанія зберігає за собою право зв'язуватися з Користувачем: направляти інформаційні повідомлення на електронну та фізичну адресу, вказану при реєстрації, та відправляти повідомлення на мобільний телефон Користувача.</li>
                <li>Збір інформації здійснюється шляхом самостійного, з використанням програмних засобів Сайту, зазначення Користувачем відповідних даних, необхідних для розміщення оголошень на ньому.</li>
                <li>Інформація технічного характеру, що міститься в системі, наприклад, ip-адреса, відповідно до загальних правил інтернет-повідомлень, використовується Компанією з метою, пов'язаною з обслуговуванням мережевого обладнання, та для агрегації загальної статистичної, демографічної інформації (наприклад, про регіон, з якого було здійснено з'єднання Користувачем).</li>
                <li>Компанія зберігає дані останнього доступу Користувача до системи, з метою забезпечення високої якості сервісів, що пристосовуються до індивідуальних потреб та інтересів Користувача.</li>
                <li>Користувач здійснює доступ до сервісів Сайту протягом часових проміжків безперервного використання - сесій. Зареєстрований Користувач здійснює доступ до частини Сайту, яка доступна виключно після введення їм логіну та пароля, хоч би один раз, протягом сесії.</li>
                <li>Відключення збереження даних щодо останнього доступу в систему в налаштуваннях браузера не впливає на можливість використання сервісів Сайту в цілому, однак може обмежити їх функціонал для Користувача.</li>
                <li>Дані останнього доступу в систему також використовуються для збирання статистичної інформації про використання послуг Користувачами.</li>
                <li>Користувачеві забороняється надавати інформацію з порушенням умов цієї Угоди або прав третіх осіб, зокрема, інформація не повинна містити:
                    <ul class="dotted margintop5 marginbott20 marginleft20">
                        <li>вульгарних, образливих виразів;</li>
                        <li>пропаганду ненависті, насилля, дискримінації, расизму, ксенофобії, міжнаціональних конфліктів;</li>
                        <li>заклики до насильства і протиправних дій;</li>
                        <li>дані, що порушують особисті (немайнові) права, або права інтелектуальної власності третіх осіб;</li>
                        <li>інформацію, що сприяє шахрайству, обману або зловживання довірою;</li>
                        <li>інформацію, яка призводить до здійснення операцій з краденими чи підробленими предметами;</li>
                        <li>інформацію, яка порушує чи посягає на власність третіх осіб, комерційну таємницю або право на недоторканість приватного життя;</li>
                        <li>особисту чи ідентифікуючу інформацію про інших осіб без їх ясно висловленої згоди;</li>
                        <li>інформацію, що містить відомості, які посягають на недоторканність приватного життя, що ображає чиюсь честь, гідність чи ділову репутацію;</li>
                        <li>інформацію, що містить наклеп або погрози на адресу будь кого;</li>
                        <li>інформацію, що носить характер порнографії;</li>
                        <li>інформацію, що завдає шкоди неповнолітнім;</li>
                        <li>хибну і неправдиву інформацію, інформацію, яка вводить в оману;</li>
                        <li>віруси або будь-які інші технології, що можуть завдати шкоди Сайту, Компанії, або іншим користувачам;</li>
                        <li>інформацію про сервіси, що вважаються аморальними, таких як: проституція, або інші форми, що суперечать нормам моралі або закону;</li>
                        <li>посилання або інформацію про сайти, що конкурують з сервісами Компанії;</li>
                        <li>інформацію, що представляє собою «спам», «листи щастя», «схеми пірамід» або небажану або брехливу комерційну рекламу;</li>
                        <li>інформацію, поширювану інформаційними агентствами;</li>
                        <li>інформацію з пропозицією заробітку в інтернеті, без вказівки фізичної адреси і прямих контактів роботодавця;</li>
                        <li>інформацію з пропозицією франшизи, багаторівневого та мережевого маркетингу, агентської діяльності, торгового представництва або будь-якої іншої діяльності, яка вимагає вербування (залучення) інших членів, суб-агентів, суб-дистриб’юторів та інше;</li>
                        <li>відомості виключно рекламного характеру без пропозиції конкретного товару або послуги;</li>
                        <li>інформацію, що іншим чином порушує законодавство країни, для якої призначене оголошення.</li>
                    </ul>
                </li>
                <li>
                    У разі подачі оголошення з пропозиціями послуг, що підлягають ліцензуванню, в тексті оголошення потрібно вказувати номер ліцензії та найменування органу, який видав ліцензію.
                </li>
            </ul>
            <div class="bgef pding5_10">
                <h2 class="c62 large fbold margin5_0" id="r5">5. ПРИЧИНИ ВИДАЛЕННЯ ОГОЛОШЕНЬ <a class="fright xx-small" href="#top"> Повернутись до початку </a> </h2>
            </div>
            <ul class="separate">
                <li>Оголошення Користувача може бути видалено Компанією через порушення Користувачем умов цієї Угоди, та з таких причин:
                    <ul class="dotted margintop5 marginbott20 marginleft20">
                        <li>У Користувача вже є на Сайті активне аналогічне оголошення з рекламою цього товару/послуги;</li>
                        <li>Інформація, що міститься в оголошенні, суперечить цій Угоді, Правилам публікації оголошень <a href="http://help.olx.ua/hc/uk/articles/201659305" class="link" target="_blank"><span>http://help.olx.ua/hc/uk/articles/201659305</span></a> та/або законодавству;</li>
                        <li>Інформація, що міститься в оголошенні є неправдивою;</li>
                        <li>Заголовок оголошення не містить інформацію про запропонований/запитаний товар/послугу;</li>
                        <li>Заголовок оголошення містить повторювані знаки оклику та питання, крапки та інші знаки;</li>
                        <li>Тема або коментар до фотографії містять посилання на Інтернет-ресурси;</li>
                        <li>Фотографія не має очевидного смислового зв'язку з текстом оголошення або не має на меті адекватно проілюструвати текст оголошення;</li>
                        <li>Фотографія містить елементи призначеного для користувача інтерфейсу, абстрактні малюнки і т. п.;</li>
                        <li>Фотографія містить будь-яку рекламну інформацію (посилання на сайт, e-mail, номер телефону, Skype, IСQ, ID в соцмережах, ID інших месенджерів і подібне); </li>
                        <li>Фотографія поганої якості, зображуваний предмет невиразний;</li>
                        <li>Оголошення надано у рубрику, яка не відповідає змісту оголошення;</li>
                        <li>Компанії надано скаргу від власника майнових прав інтелектуальної власності, та/або запит уповноваженого органу державної влади;</li>
                        <li>Компанії надано обґрунтована скарга іншого Користувача про порушення його прав в оголошенні.</li>
                    </ul>
                </li>
            </ul>
            <div class="bgef pding5_10">
                <h2 class="c62 large fbold margin5_0" id="r6"> 6. ПРАВА ТА ОБОВ'ЯЗКИ СТОРІН <a class="fright xx-small" href="#top"> Повернутись до початку </a> </h2>
            </div>
            <ul class="separate">
                <li>Всі об'єкти, доступні за допомогою сервісів Компанії, у тому числі елементи дизайну, текст, графічні зображення, ілюстрації, відео, комп’ютерні програми, бази даних, музика, звуки і інші об'єкти, а також будь-який контент, розміщений на сервісах Сайту, є об'єктами виключних прав Компанії, Користувачів та інших правовласників.</li>
                <li>Використання контенту, та будь-яких інших елементів сервісів можливо тільки в рамках функціоналу, пропонованого тим чи іншим сервісом Сайту. Ніякі елементи змісту сервісів Сайту, а також будь-який контент, розміщений на сервісах Сайту, не можуть бути використані іншим чином без попереднього дозволу правовласника. Під використанням мається на увазі, в тому числі, але не виключно: відтворення, копіювання, переробка, поширення на будь-якій основі і т.д.</li>
                <li>Щоб надати Компанії право публікувати відомості, надані Користувачем, Користувач надає Компанії чинне повсюдно (територіально необмежене), безстрокове, безвідкличне, невиключне, суб- ліцензоване право на використання, публікацію, збір, демонстрацію, копіювання, дублювання, відтворення, доведення до загального відома щодо об’єктів авторських прав, публікацій та баз даних, якими володіє Користувач, а також щодо наданих їм відомостей, зображень і фотографій на всіх відомих або невідомих інформаційних носіях. Перераховані вище права надаються Компанії безоплатно (без виплати винагороди). При цьому Користувач зберігає всі майнові права на зміст інформації, що розміщується в оголошенні. Крім переліченого, Користувач надає право на доступ до розміщеної ним інформації всім користувачам Сайтів. Користувач погоджується з тим, що текст оголошень, фотографії, і інші матеріали, додані до оголошення, можуть бути використані Компанією при підготовці рекламних матеріалів, статей, звітів, аналізів і т.д., і використовуватися Компанією на власний розсуд без додаткової згоди з боку Користувача, без виплати винагороди.</li>
                <li>Скориставшись сервісами Сайтів, Користувач підтверджує, що несе особисту відповідальність за зміст розміщених ним оголошень, а також володіє всіма необхідними правами, ліцензіями, дозволами на розміщення інформації в оголошенні на Сайтах, включаючи без обмежень всі патенти, торгові марки, комерційні таємниці, авторські права, або ж має відповідну письмову згоду, ліцензію або дозвіл всіх ідентифікованих в оголошенні осіб і компаній для використання їх імен, торгових марок, або зображень, якщо це необхідно відповідно до застосовного законодавства.</li>
                <li>
                    Користувач зобов'язується:
                    <ul class="dotted margintop5 marginbott20 marginleft20">
                        <li>Не вчиняти дій, які можуть призвести до непропорційно великого навантаження на інфраструктуру Сайтів;</li>
                        <li>Не використовувати автоматичні програми для отримання доступу до Сайтів без письмового дозволу Компанії;</li>
                        <li>Не копіювати, не відтворювати, не змінювати, не поширювати і не представляти громадськості будь-яку інформацію, що міститься на Сайтах (крім відомостей, наданих самим Користувачем) без попереднього письмового дозволу Компанії;</li>
                        <li>Не перешкоджати і не намагатися перешкоджати роботі та іншій діяльності на Сайтах; а також не перешкоджати дії автоматичних систем або процесів, а також інших заходів, з метою перешкодити або обмежити доступ на Сайти;</li>
                        <li>Не використовувати відомості, надані іншими Користувачами, в інших цілях, окрім як для здійснення угоди безпосередньо з цим Користувачем, без письмового дозволу іншого Користувача. В цей пункт Угоди не включені персональні дані Користувача, які останній надає Компанії при реєстрації.</li>
                    </ul>
                </li>
                <li>
                    Користувачу забороняється:
                    <ul class="dotted margintop5 marginbott20 marginleft20">
                        <li>Обговорення дій модераторів і адміністрації Сайту іншим чином, окрім як за допомогою електронного листування з модераторами;</li>
                        <li>Використання імен Користувачів, схожих на імена інших Користувачів, з метою видати за них себе і писати повідомлення від їх імені.</li>
                    </ul>
                </li>
                <li>Доступ до персональних даних Користувача з боку інших Користувачів можливий тільки при наявності письмової згоди Користувача на подібний доступ або на виконання вимог відповідного законодавства.</li>
                <li>Компанія зобов'язується докладати всіх зусиль для належного виконання своїх обов'язків за цією Угодою, включаючи нормальну роботу сервісів Сайтів і нерозповсюдження третім особам персональних даних, наданих Користувачем, за винятком випадків, передбачених законодавством.</li>
                <li>Компанія може періодично встановлювати обмеження щодо використання сервісів Сайтів, зокрема, максимальна кількість днів зберігання оголошень і їх розмір. Компанія має право в будь-який момент змінити або припинити роботу сервісів Сайтів або їх частини з повідомленням Користувача, або без нього, не несучи при цьому відповідальності за подібні зміни або припинення.</li>
                <li>Щоб підтримувати високу якість своїх послуг, Компанія залишає за собою право обмежити кількість активних оголошень Користувача на Сайтах, а також обмежити дії Користувача на Сайтах.</li>
                <li>Компанія може заборонити Користувачеві доступ на Сайти, якщо Користувач порушує умови цієї Угоди. Факт порушення вважається підтвердженим, якщо Користувач був сповіщений адміністрацією Сайтів про ведення діяльності, яка порушує правила Сайтів, або прав третіх осіб. Компанія залишає за собою право в будь-який момент видалити або відключити обліковий запис Користувача, а також видалити всі розміщені оголошення Користувача, залишивши попереднє повідомлення Користувача про таке відключення на свій розсуд, і не несучи при цьому відповідальність за свої дії перед Користувачем і третіми особами.</li>
                <li>Компанія має право на власний розсуд не приймати, видаляти або переміщувати будь-яке розміщене на Сайтах оголошення за порушення цієї Угоди.</li>
                <li>Компанія має право передати Сайти зі всіма його сервісами та змістом, включаючи персональні дані Користувачів, своєму правонаступнику, за договорами або на інших підставах. Передача і повідомлення Користувачів про таку передачу здійснюється відповідно до вимог чинного законодавства України.</li>
                <li>Користувач має право направляти скарги з питань роботи Сайту через форму зворотного зв'язку <a href="http://help.olx.ua/hc/uk/requests/new" target="_blank" class="link"><span>http://help.olx.ua/hc/uk/requests/new</span></a> які будуть розглянуті протягом двох робочих днів з моменту їх надходження чи з моменту отримання повної інформації по суті скарги.</li>
                <li>Компанія залишає за собою право в будь-який момент вимагати від Користувача підтвердження даних, вказаних ним при реєстрації і запитати в зв'язку з цим підтверджуючі документи (зокрема - копії/завірені копії документів, що засвідчують особу), ненадання яких, на розсуд Користувача, може бути прирівняне до надання недостовірної інформації. У разі якщо дані Користувача, зазначені в наданих їм документах, не відповідають даним, зазначеним при реєстрації, а також у випадку, коли дані, вказані при реєстрації, не дозволяють ідентифікувати Користувача, Компанія має право відмовити Користувачеві в доступі до використання сервісів Сайтів з попереднім повідомленням Користувача або без повідомлення.</li>
                <li>SMS-верифікація. Компанія має право в будь-який момент верифікувати Користувача засобами SMS-верифікації. У разі якщо Користувач не пройшов верифікацію, Компанія має право обмежити можливості користування Сайтом, а саме розміщення, редагування, продовження, оновлення оголошень. Вибірка користувачів, які підлягають верифікації, здійснюється Компанією на свій власний розсуд. Всі Користувачі, які були верифіковані за допомогою SMS-верифікації можуть використовувати номер мобільного телефону для входу до облікового запису/акаунта, використовуючи пароль, зазначений при реєстрації.</li>
                <li>Компанія на підставі аналізу діяльності Користувача на Сайті має право відносити Користувача до категорії «Бізнес-користувач», не залежно від того, чи Користувач відніс себе до даної категорії при публікації оголошення.
                    Для віднесення Користувача до категорії «Бізнес» достатньо наявності в діях Користувача однієї з таких ознак:
                    <ul class="dotted margintop5 marginbott20 marginleft20">
                        <li>використання при розміщенні оголошення професійних фотографій (стокових фотографій);</li>
                        <li>наявність в тексті оголошення посилання на веб-сайт/сторінку веб-сайту;</li>
                        <li>наявність в тексті оголошення інформації про можливість вибору іншої моделі, наявності товару в асортименті, різних розмірів товару, можливості замовлення товару, надання Користувачем гарантії на товар;</li>
                        <li>придбання Користувачем будь-якого пакету розміщень.</li>
                    </ul>
                </li>
            </ul>
            <div class="bgef pding5_10">
                <h2 class="c62 large fbold margin5_0" id="r7"> 7. ОПЛАТА ПОСЛУГ <a class="fright xx-small" href="#top">Повернутись до початку</a></h2>
            </div>
            <ul class="separate">
                <li>Замовлення (акцептування) платних послуг OLX.ua здійснюється Користувачем на відповідній сторінці замовлення послуги, або через відповідний розділ мобільних додатків, в особистому обліковому записі, а також в будь-яких інших відповідних розділах Сайту.</li>
                <li>Користувач зобов'язується ознайомитися з цінами на платні послуги Компанії. Вартість обраної послуги доступна на сторінці замовлення і залежить від параметрів замовлення.</li>
                <li>Оплата платних послуг Компанії здійснюється в порядку, зазначеному за адресою <br><a href="http://help.olx.ua/hc/uk/articles/206715969" target="_blank" class="link"><span>http://help.olx.ua/hc/uk/articles/206715969</span></a></li>
                <li>Повернення сплачених грошових коштів за не надані послуги здійснюється Компанією в наступних випадках:
                    <ul class="dotted margintop5 marginbott20 marginleft20">
                        <li>Автоматично функціональною системою Сайтів за кожне видалене оголошення при модерації (крім не актуальних оголошень), якщо оголошення платне (Топ, Виділення, Терміново). Повернення грошових коштів здійснюється за ті дні, в які послуга не надавалася (крім послуг Виділення та Терміново, де проводиться повне повернення сплачених коштів).</li>
                        <li>Якщо через будь-які технічні неполадки послуга не надавалася, повернення сплачених грошових коштів здійснюється уповноваженим Компанією адміністратором Сайту/ів після надання Користувачем доказів оплати. В такому випадку повернення грошових коштів відображається в аккаунті Користувача з можливістю використання сплачених грошових коштів в майбутньому.</li>
                        <li>У разі оплати послуг з видалених Компанією облікових записів, які були дубльовані Користувачем в порушення умов цієї Угоди. Таке повернення здійснюється Компанією виключно за зверненням Користувача, а грошові кошти повертаються на активний обліковий запис такого користувача з можливістю використання сплачених грошових коштів в майбутньому.</li>
                        <li>Грошові кошти, сплачені за розміщення оголошень про заборонені товари, послуги, пропозиції, перелік яких зазначений за адресою:<a href="http://help.olx.ua/hc/uk/articles/206715609" target="_blank" class="link"><span>http://help.olx.ua/hc/uk/articles/206715609</span></a>, при блокуванні облікового запису не повертаються.</li>
                    </ul>
                </li>
                <li>У разі систематичних (два і більше разів) порушень умов цієї Угоди повернення сплачених Користувачем грошових коштів відбувається на підставі рішення адміністрації Компанії після відповідного звернення Користувача. Адміністрація має право відмовити в поверненні коштів Користувачу, який систематично порушує умови Угоди.</li>
                <li>Компанія, в разі наявної технічної можливості та можливості ідентифікації Користувача, може надати Користувачеві Акт прийому-передачі наданих платних послуг.  Користувач зобов'язується протягом 5 (п'яти) календарних днів після отримання такого Акту підписати і направити Компанії підписаний примірник Акту, або в той же термін направити Компанії мотивовану відмову від підписання Акту із зазначенням причин відмови від підписання. У разі якщо в зазначений термін Користувачем не буде відправлений підписаний Акт, або мотивовану відмову від його підписання, платні послуги, надані Компанією, вважаються прийнятими без зауважень щодо якості та строку надання.</li>
                <li>Компанія надає Акти прийому-передачі наданих послуг Бізнес-Користувачам, що є суб’єктами підприємницької діяльності, зареєстрованими у порядку, встановленому законодавством України, в електронній формі з використанням електронного цифрового підпису, виключно через сервіс електронного документообігу «Вчасно», що доступний в мережі Інтернет за адресою <a href="https://vchasno.com" target="_blank" class="link">https://vchasno.com.ua</a></li>
            </ul>
            <div class="bgef pding5_10">
                <h2 class="c62 large fbold margin5_0" id="r8"> 8. ОБМЕЖЕННЯ ВІДПОВІДАЛЬНОСТІ <a class="fright xx-small" href="#top"> Повернутись до початку </a> </h2>
            </div>
            <ul class="separate">
                <li>Скориставшись сервісами Сайтів, Користувач підтверджує свою згоду з тим, що він використовує Сайти і його сервіси на свій страх і ризик «як є», оцінює і несе всі ризики, пов'язані з використанням розміщених на Сайтах оголошень, а Компанія, в тому числі її керівництво , співробітники і агенти, не несуть ніякої відповідальності за зміст розміщених на Сайті оголошень, за будь-які збитки і втрати, які стали результатом використання розміщених на Сайтах оголошень. <strong>Користувача</strong> та інші дані. </li>
                <li>Компанія не є організатором/ініціатором угоди між Користувачами, або її стороною. Сайт є торговою комунікаційною платформою, яка надає можливість Користувачам розміщувати для реалізації, продавати і купувати дозволені законодавством товари і послуги в будь-який час, звідки завгодно і за будь-якою ціною.</li>
                <li>Компанія не може контролювати достовірність інформації, яка розміщується користувачами в оголошеннях. Компанія не несе відповідальності за будь-які збитки, завдані в результаті вчинення правочину, або неналежної поведінки будь-якої зі сторін угоди.</li>
                <li>Компанія не несе відповідальності за поведінку Користувачів, або за пропоновані ними товари/послуги, зазначені в оголошеннях. Всі суперечки і конфлікти між Користувачами вирішуються ними самостійно без залучення Компанії.</li>
                <li>Компанія не несе відповідальності за будь-який несанкціонований доступ або використання серверів Компанії та/або будь-якої інформації про користувачів, що на них зберігається, а також за будь-які помилки, віруси, «троянські коні» і т.д., які можуть бути передані на Сайти або через Сайти третіми особами.</li>
                <li>Якість, безпека, законність і відповідність товару або послуги їх опису, а також можливість Користувача продати або придбати товар/послугу знаходяться поза контролем Компанії.</li>
                <li>Компанія закликає Користувачів бути обережними і зберігати здоровий глузд при користуванні послугами Сайтів. Користувач повинен прийняти до уваги, що його контрагент може не мати відповідної дієздатності, або видавати себе за іншу особу. Використання послуг Компанії має на увазі, що Користувач усвідомлює і приймає ці ризики, а також погоджується, що Компанія не несе відповідальності за дії або бездіяльність з боку Користувача.</li>
                <li>Користувач не може робити висновок, що пропозиція, продаж і придбання будь-якого товару або послуги є дійсними та легальними виходячи з факту розміщення, продажу та придбання товару або послуги на Сайтах. Компанія не несе відповідальності за завершення угоди Користувачем Сайтів. Користувач приймає на себе повну відповідальність за свої дії.</li>
                <li>Якщо у Користувача виникають претензії до іншого Користувача в результаті використання останнім послуг Сайту, Користувач погоджується пред'являти ці вимоги самостійно і без втручання з боку Компанії, а також звільняє Компанію (поряд з її дочірніми компаніями, афільованими особами, службовцями, директорами, уповноваженими і співробітниками) від всіх вимог, зобов'язань, компенсацій по відшкодуванню збитків, витрат (затрат), включаючи адвокатські гонорари, відомих або невідомих, що виникли в результаті, або у зв'язку з такими вимогами.</li>
                <li>Бездіяльність з боку Компанії в разі порушення Користувачем, або іншими Користувачами положень Угоди не позбавляє Компанію права здійснювати відповідні дії на захист своїх інтересів пізніше, а також не означає відмову Компанії від своїх прав, в разі здійснення подібних порушень в подальшому.</li>
                <li>Користувач має право повідомити Компанії про факт порушення його прав іншим Користувачем, скориставшись посиланням <a href="http://help.olx.ua/hc/uk/requests/new" class="link" target="_blank"><span>http://help.olx.ua/hc/uk/requests/new</span></a>. У разі обґрунтованості скарг Користувача, Компанія на свій розсуд видаляє оголошення, яке порушує права Користувача.</li>
                <li>Компанія не несе відповідальності за невиконання, або перешкоди у виконанні зобов'язань з надання доступу до Сайтів через обставини непереборної сили, наслідки яких не можна уникнути, або подолати (таких як рішення влади, трудові спори, нещасні випадки, розриви в загальній системі комунікацій і т. д.).</li>
                <li>Компанія не несе відповідальності за неполадки в роботі Сайтів, викликані технічними перебоями в роботі устаткування і програмного забезпечення.</li>
                <li>Ні за яких умов Компанія, її керівництво, співробітники та агенти, які не несуть відповідальності за прямі, непрямі збитки і виплачені штрафні санкції будь-якого характеру (навіть якщо Компанія була попереджена про можливість таких збитків) в результаті використання Сайтів і його сервісів Користувачем, включаючи без обмеження випадки, в яких збитки/шкода стала результатом використання або неправильного використання Сайтів і його сервісів.</li>
                <li>Ніщо в Угоді не може розумітися як встановлення між Користувачем та Компанією агентських відносин, відносин товариства, відносин по спільній діяльності, трудових відносин, або якихось інших відносин, прямо не передбачених Угодою.</li>
                <li>Компанія несе відповідальність за рекламу, розміщену на сервісах Сайтів, в межах, встановлених застосовним законодавством.</li>
                <li>Компанія не несе відповідальності за збереження інформації з акаунта, можливість використання сервісів Сайту, збереження та можливість використання коштів на особистому рахунку Користувача, у випадку блокування/заборони використання сторонніх сервісів, за допомогою яких Користувач здійснює реєстрацію, та/або вхід на Сайт, що знаходяться поза контролем Компанії.</li>
            </ul>

            <div class="bgef pding5_10">
                <h2 class="c62 large fbold margin5_0" id="r9">9. ТЕРМІН ДІЇ УГОДИ І ПРИПИНЕННЯ НАДАННЯ ПОСЛУГ САЙТУ <a class="fright xx-small" href="#top"> Повернутись до початку </a> </h2>
            </div>
            <ul class="separate">
                <li>Ця Угода набуває чинності з моменту початку використання Користувачем будь-якого сервісу Сайту, встановлення мобільного додатку, або з моменту реєстрації Користувача на Сайті, і діє безстроково.</li>
                <li>Користувач має право припинити свою реєстрацію на Сайті в односторонньому порядку, без попереднього повідомлення про це Компанії і пояснення причин.</li>
                <li>У разі якщо Компанією були внесені будь-які зміни до Угоди в порядку, передбаченому пунктом 10.1. Угоди, з якими Користувач не згоден, він зобов'язаний припинити використання сервісів Сайтів. Факт продовження використання Сайтів є підтвердженням згоди Користувача з відповідною редакцією Угоди.</li>
                <li>Розірвання Угоди з боку Компанії може статися у випадках:</li>
                <li>Порушення положень цієї Угоди, нанесення будь-якої шкоди Компанії, в тому числі її репутації, або користувачам OLX.ua;</li>
                <li>Інші дій, які суперечать політиці Компанії;</li>
                <li>Правові відносини можуть бути відновлені тільки після прийняття адміністрацією Компанії відповідного рішення.</li>
            </ul>

            <div class="bgef pding5_10">
                <h2 class="c62 large fbold margin5_0" id="r10">10. ВНЕСЕННЯ ЗМІН ДО УГОДИ <a class="fright xx-small" href="#top">Повернутись до початку</a></h2>
            </div>
            <ul class="separate">
                <li>Угода може бути змінена Компанією без будь-якого спеціального повідомлення, нова редакція Угоди вступає в силу з моменту її розміщення в мережі Інтернет за вказаною в цьому абзаці Угоди адресою, якщо інше не передбачено новою редакцією Угоди. Чинна редакція Угоди завжди знаходиться на сторінці за адресою  <a class="link" href="https://www.olx.ua/uk/terms/"><span>https://www.olx.ua/uk/terms/</span></a>.</li>
            </ul>

            <div class="bgef pding5_10">
                <h2 class="c62 large fbold margin5_0" id="r11">11. ІНШІ УМОВИ<a class="fright xx-small" href="#top">Повернутись до початку</a></h2>
            </div>
            <ul class="separate">
                <li>Системні повідомлення Сайтів, що відносяться до оголошень Користувача, буде надіслано на електронну адресу, надану Користувачем при розміщенні оголошення на Сайтах. У разі небажання Користувача отримувати такі повідомлення Користувач має право видалити відповідні оголошення з Сайтів.</li>
                <li>Інформаційні повідомлення, призначені для широкого кола Користувачів, публікуються на Сайтах і/або посилаються на електронні адреси Користувачів, які підтвердили свою згоду на отримання таких повідомлень в процесі публікації оголошень/реєстрації на Сайтах.</li>
                <li>Користувачі мають право відмовитися від отримання інформаційних повідомлень на свою електронну адресу в будь-який момент через функцію «Відмовитися від розсилки», що міститься в обліковому записі Користувача.</li>
                <li>При виникненні між Сторонами суперечок та розбіжностей за цією Угодою або у зв'язку з нею, Сторони зобов'язуються вирішувати їх шляхом переговорів. Якщо будь-які суперечки, розбіжності або вимоги, що виникають з приводу цієї Угоди або в зв'язку з нею, у тому числі, що стосуються її виконання, порушення, припинення, або недійсності, не можуть бути вирішені шляхом переговорів, то ці суперечки розглядаються відповідно до чинного законодавством в судовому порядку.</li>
                <li>Ця Угода регулюється і тлумачиться відповідно до законодавства України. Питання, не врегульовані цією Угодою, підлягають вирішенню відповідно до чинного законодавства України. Всі можливі суперечки, що випливають з відносин, що регулюються цією Угодою, вирішуються в порядку, встановленому законодавством України, за нормами права України.</li>
                <li>Скрізь по тексту цієї Угоди, якщо не зазначене інше, під термінами «чинне законодавство», «застосовне законодавство» розуміється як законодавство України, так і законодавство місця перебування Користувача/Користувачів.</li>
                <li>Визнання судом будь-якого положення Угоди недійсним або тим, що не підлягає примусовому виконанню не тягне за собою недійсності або невиконання інших положень цієї Угоди.</li>
            </ul>

            <h4 class="c62 fbold xx-large" id="r12">Додаток №1 - ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ <a class="fright xx-small" href="#top">Повернутись до початку</a></h4>
            <ul class="separate">
                <li>ОБЛАСТЬ ЗАСТОСУВАННЯ ТА ЗГОДА
                    <ul>
                        <li>Персональні дані фізичних осіб - користувачів сервісу OLX.ua обробляються ТОВ «ЄМАРКЕТ УКРАЇНА», юридичною особою, зареєстрованою за законодавством України, з місцезнаходженням за адресою вул. Болсуновська, 13-15, м. Київ, Україна, 01014 (далі - Компанія). Компанія є власником Бази персональних даних користувачів OLX.ua.</li>
                        <li>Розпорядником Бази персональних даних користувачів OLX.ua є компанія MIH Allegro BV, яка створена і діє за законодавством Королівства Нідерландів (ця країна є учасником Конвенції про захист осіб у зв'язку з автоматизованою обробкою персональних даних, та членом Європейського економічного простору) і знаходиться за адресою: Королівство Нідерландів,  м. Хуфдоорп, Таурусавеню 105, 2132 LS.</li>
                        <li>База персональних даних користувачів OLX.ua знаходиться за адресою: Королівство Нідерландів, м Хуфдоорп, Таурусавеню 105, 2132 LS. База даних обробляється компанією MIH Allegro BV на підставі договору з ТОВ «ЄМАРКЕТ УКРАЇНА».</li>
                        <li>Ця Політика конфіденційності описує встановлений Компанією порядок обробки персональних даних, зібраних за допомогою Сайту www.olx.ua (далі - Сайт), мобільного додатку OLX (далі - мобільний додаток) і пов'язаних з ними послуг і інструментів, що дозволяють користувачам реєструватися на Сайті, публікувати або переглядати в режимі реального часу вже опубліковані оголошення, використовувати інший, пов'язаний з вищенаведеним сервіс OLX. У всіх зазначених випадках Компанія обробляє персональні дані користувачів виключно в рамках вимог Закону України «Про захист персональних даних» та Конвенції про захист осіб у зв'язку з автоматизованою обробкою персональних даних. Ця Політика конфіденційності розроблена відповідно до положень цих документів.</li>
                        <li>Використовуючи Сайт, та/або мобільний додаток, та/або інші пов'язані сервіси та інструменти OLX, Користувач надає свою згоду Компанії на обробку своїх персональних даних, таких як ім'я користувача; регіон проживання, адреса електронної пошти, контактний телефон, інша контактна інформація за бажанням користувача; ip-адреси, інші комунікаційні дані користувачів; повідомлення, листи, заяви, що передаються користувачу іншими користувачами і навпаки, а також дає свою згоду на передачу своїх персональних даних третім особам, в тому числі на передачу персональних даних за кордон, в будь-яку третю країну, в відповідності з цією Політикою конфіденційності та Угодою з користувача сервісів OLX.ua.</li>
                        <li>Користувачі повинні знати, що при переході на деякі посилання, розміщені на Сайті, або в мобільному додатку, вони можуть бути перенаправлені до сайтів (з додатками і т.д.) інших компаній за межі хостингового простору Компанії, де інформація про Користувачів збирається поза прямим контролем Компанії. В такому випадку Політики конфіденційності сайтів та/або додатків третіх осіб регулюватимуть порядок обробки інформації, отриманої від користувачів цими третіми особами.</li>
                    </ul>
                </li>
                <li>
                    ІНФОРМАЦІЯ, ЯКУ ЗБИРАЄ, ОТРИМУЄ І РОЗМІЩУЄ КОМПАНІЯ
                    <ul>
                        <li>Інформація про реєстрацію: При створенні Користувачем облікового запису на Сайті, Компанія може вимагати певну інформацію, таку як дійсну адресу електронної пошти та пароль. Обліковий запис включає в себе таку інформацію про них, як географічне розташування, ім'я та прізвище, номер телефону і супутню інформацію, в тому числі фотографії, які вони можуть завантажувати в свій обліковий запис. {Обліковий запис дозволяє користувачам зв'язуватися один з одним, щоб висловити зацікавленість в своїх пропозиціях}. Користувачі несуть відповідальність за всю інформацію, що розміщується ними в загальнодоступних облікових записах.</li>
                        <li>Користувач повинен усвідомити всі ризики, пов'язані з тим, що він оприлюднює адресу або інформацію про точне місце свого розташування. Якщо користувач вирішив увійти на Сайт, використовуючи службу автентифікації стороннього оператора, наприклад інформацію Facebook, Компанія може отримати додатковий профіль, або іншу інформацію, доступ до якої надано такою третьою особою.</li>
                        <li>Оголошення та Угоди: В рамках діяльності свого Сайту, Компанія може розміщувати інформацію, в тому числі особистого і контактного характеру, необхідну для здійснення угод між покупцем і продавцем, для надсилання повідомлень і спілкування користувачів між собою, та здійснення платежів. Вся інформація, необхідна для публікації оголошень, потрібна для створення облікового запису. Користувачі несуть відповідальність за всю інформацію, що розміщується ними на Сайті. Користувач повинен уважно усвідомити всі ризики, пов'язані з тим, що він оприлюднює адресу, або інформацію особистого характеру.</li>
                        <li>Ігри, Реклама та Просування: В процесі роботи Сайту Компанія може збирати особисту інформацію, таку як ім'я та контактна інформація, участь користувачів у іграх, вікторинах та інших маркетингових акціях, організованих на Сайті, або на сторонніх сайтах Компанією. В процесі роботи Сайту Компанія може також обробляти інформацію пов'язану з ефективністю рекламних кампаній, в тому числі перегляди оголошень на Сайті, та на сайтах третіх осіб.</li>
                        <li>Обслуговування клієнтів: При зверненні користувачів до відділу обслуговування клієнтів, Компанія, при необхідності, може в процесі роботи свого Сайту збирати особисту інформацію, необхідну для виконання запиту Користувача і отримання зворотного зв'язку. Компанія може також зв'язатися з Користувачем, використовуючи існуючу контактну інформацію облікового запису, надану для цієї мети. Компанія може також збирати іншу інформацію про спілкування з Користувачами, наприклад, будь-які запити до служби підтримки, що подаються Користувачами, або будь-який зворотний зв'язок, що надається ними.</li>
                        <li>Веб-сайт та мобільні дані: Компанія може автоматично отримувати і реєструвати на своїх серверах інформацію з браузера користувача або будь-якого пристрою, включаючи IP-адресу, програмне забезпечення і апаратні атрибути, сторінки, які запитує Користувач, мобільні ідентифікатори, інформацію про використання додатків, та/або інформацію про інші використовувані пристрої, або інформацію системного рівня. Це може відбуватися на Сайті або на мобільному додатку, або на сервісах третіх осіб. Додаткова інформація про те, як користувачі можуть контролювати та/або блокувати такий збір інформації знаходиться нижче в розділі 6 цієї політики.</li>
                        <li>Інформація, отримана в результаті опитувань: Компанія може збирати та зберігати інформацію, що отримана в результаті опитувань, що можуть проводитись Компанією, або залученими Компанією підрядниками, - третіми особами, а саме інформацію щодо статі, віку, сімейного стану, особистих вподобань та ін.</li>
                        <li>Інформація, що додається: Компанія може також додати інформацію, отриману на законних підставах від ділових партнерів або третіх сторін, до існуючих даних Компанії про своїх користувачів.</li>
                        <li>
                            Інформація, що доступна з профайлів Користувача у багатокористувацьких Інтернет-платформах (соціальних мережах): Реєструючись на Сайті, або здійснюючи вхід на Сайт за допомогою служб автентифікації соціальних мереж, Користувач надає Компанії згоду на збір та обробку інформації, що доступна із відповідних профайлів в соціальних мережах, а також на публікацію у відповідних соціальних мережах відомостей про дії Користувача на Сайті, та/або в мобільному додатку.
                            <strong class="block margintop10">Інформація, яку Компанія не збирає і не обробляє:</strong>
                            Компанія не збирає і не обробляє персональні дані про расове або етнічне походження, політичні, релігійні або світоглядні переконання, членство в політичних партіях та професійних спілках та подібну інформацію.
                        </li>
                    </ul>
                </li>
                <li>
                    IP-АДРЕСА, КУКІС (COOKIES) ТА МОБІЛЬНІ ІДЕНТИФІКАТОРИ
                    <ul>
                        <li>В процесі роботи Сайту Компанія може збирати певну інформацію за допомогою таких технологій як кукіс (куки, cookies), пікселі (pixels) та локального сховища (як у Вашому браузері або мобільному пристрої).</li>
                        <li>КУКІС (COOKIES) - це невеликі текстові файли, які зберігають інформацію безпосередньо на комп'ютері користувача, його мобільному телефоні або іншому пристрої.</li>
                        <li>Пікселі (pixels) - невеликі цифрові зображення, які є частиною коду на веб-сторінках, які дозволяють іншому серверу вимірювати переглядання веб-сторінки, і часто використовуються в поєднанні з кукіс (cookies). Код відстежує як, коли (і на якій сторінці) піксель завантажений, щоб вказати, що користувач взаємодіє зі сторінкою або частиною сторінки Сайту.</li>
                        <li>За допомогою кукіс (cookies), веб-сервер може зберегти, наприклад вподобання та налаштування на комп'ютері Користувача, його мобільному телефоні або іншому пристрої(ях), яке потім автоматично відновлюється при наступному відвідуванні. Інакше кажучи, файли кукіс (cookies) призначені для того, щоб зробити використання Сайту більш зручним, наприклад, щоб Користувач не повторював процес входу в систему під час наступного візиту. Компанія використовує як постійні, так і сесійні куки. Постійні куки залишаються на комп'ютері Користувача протягом більш тривалого періоду часу, а сесійні куки автоматично видаляться при закритті вікна браузера.</li>
                        <li>Компанія може дозволяти третім сторонам, таким як постачальники рекламних та/або аналітичних послуг, збирати інформацію, використовуючи ці типи технологій безпосередньо на веб-сторінці Сайту або мобільного додатку. Дані, які вони збирають підлягають захисту відповідно до чинної політики конфіденційності цих третіх сторін.</li>
                    </ul>
                </li>
                <li>
                    ВИКОРИСТАННЯ ПЕРСОНАЛЬНИХ ДАНИХ
                    <p>Для надання своїх послуг Компанія може використовувати інформацію, яку Компанія збирає і розміщує для наступних цілей:</p>
                    <ul>
                        <li>забезпечення обслуговування клієнтів, в тому числі для створення і управління обліковими записами користувачів, вирішення технічних труднощів і доступу до різних функцій;</li>
                        <li>адаптація пропозицій і досвіду, в тому числі реклами на своїх сервісах або сервісах третіх осіб;</li>
                        <li>контроль загальної та індивідуальної активності користувачів, такий як пошук за ключовими словами, активності за публікаціями оголошень та укладання угод, а також для управління трафіком на Сайті;</li>
                        <li>зв'язок з користувачами, в тому числі з питань сервісу, обслуговування клієнтів або дозволених маркетингових комунікацій через будь-які доступні канали зв'язку;</li>
                        <li>проведення науково-дослідницької та аналітичної активності з метою поліпшення нашого сервісу; та</li>
                        <li>забезпечення дотримання Угоди з користувачами сервісів OLX.ua, враховуючи боротьбу з шахрайством і образами;</li>
                        <li>оцінка деяких факторів особистої інформації, зокрема, для аналізу та прогнозування особистих вподобань, інтересів, поведінки та місцезнаходження.</li>
                    </ul>
                    <p>Компанія може зберігати інформацію, яку вона збирає і отримує на своєму Сайті стільки, скільки буде потрібно для виконання вищевказаних ділових цілей.</p>
                </li>
                <li>
                    ОБМІН ІНФОРМАЦІЄЮ
                    <ul>
                        <li>Компанія може ділитися інформацією, яку вона збирає, з афілійованими особами (компанії, що діють на основі спільної власності або під загальним контролем Naspers Group), розташованої в будь-якій третій країні. Ці компанії можуть тільки обробляти і використовувати отримані персональні дані в цілях, зазначених у п.4 цієї Політики Конфіденційності. При цьому передані дані залишаються предметом цієї Політики Конфіденційності.</li>
                        <li>Компанія не надає особисту інформацію користувачів не афілійованим особам, за винятком випадків, коли на те є відповідний дозвіл користувачів, або за наступних обставин:</li>
                        <li>Компанія може використовувати сторонніх постачальників послуг для надання деяких складових своїх послуг, в таких випадках постачальники не мають повноважень використовувати отримані за допомогою Сайту Компанії персональні дані, а самі персональні дані є предметом цієї Політики Конфіденційності.</li>
                        <li>Компанія залишає за собою право відповідно до вимог законодавства обмінюватися інформацією з приватними особами та державними органами в наступних цілях:
                            <ul class="dotted marginleft25">
                                <li>боротьба з шахрайством та зловживаннями на Сайті;</li>
                                <li>розслідування передбачуваних порушень закону або боротьби з будь-якими іншими передбачуваними порушеннями Угоди з користувачами сервісів OLX.ua Користувачами.</li>
                            </ul>
                        </li>
                        <li>Компанія може надавати персональні дані користувачів на запити компетентних органів, оформлених відповідно до вимог чинного законодавства, в тому числі відповідно до ст. 93 Кримінального процесуального кодексу України.</li>
                        <li>Відповідно до Політики конфіденційності, Компанія зобов'язується не передавати в оренду або продавати будь-які персональні дані Користувача. У разі якщо бізнес Компанії або частина цього бізнесу будуть продані або реорганізовані, та Компанія передає всі або практично всі свої активи новому власнику, то персональні дані користувачів можуть бути передані покупцеві, щоб забезпечити безперервність обслуговування Сайту.</li>
                        <li>Компанія може передавати певну знеособлену інформацію (дані, які не дозволяють ідентифікувати користувачів окремо) стороннім постачальникам послуг, довіреним партнерам або авторизованим дослідникам з метою кращого розуміння, яка реклама або послуги можуть зацікавити користувачів, поліпшення загальної якості та ефективності послуг на Сайті або сервісів, або для забезпечення свого внеску в наукові дослідження, які, на думку Компанії, можуть приносити велику соціальну користь.</li>
                        <li>У випадках передачі персональних даних, передбачених цим розділом 5 Політики конфіденційності, інформування Користувача про передачу його персональних даних залишається на розсуд Компанії.</li>
                    </ul>
                </li>
                <li>КОРИСТУВАЦЬКИЙ КОНТРОЛЬ
                    <ul>
                        <li>Доступ, Виправлення і Вилучення: Користувачі, які створили обліковий запис, або розмістили оголошення на Сайті, можуть отримувати доступ, виправляти або видаляти інформацію, яку вони надають. Користувач несе відповідальність за точність наданих даних, або повідомлень на Сайті. Якщо обліковий запис Користувача був створений через провайдера ідентифікації (наприклад, Facebook Connect, Вконтакте), Користувач може також відключити, або змінити дані облікового запису через налаштування ідентифікації провайдера (наприклад, на facebook.com, vk.com).  Розміщена інформація може бути змінена або видалена в особистому кабінеті користувача "Мій профіль" на веб-сторінці Сайту, або в додатку.</li>
                        <li>Вибір третіх осіб: деякі зовнішні суб'єкти, що діють на сайті, наприклад, Google Adwords дозволяють користувачам відкликати свою згоду на збір і використання своїх даних для реклами на основі активності користувачів. Для отримання більш детальної інформації та можливості вибору, будь ласка, відвідайте http://www.networkadvertising.org.</li>
                        <li>Кукіс (Cookies): Більшість основних комп'ютерних (десктопних) і мобільних веб-браузерів (наприклад, Safari, Firefox, Internet Explorer, Chrome, Opera) забезпечують елементи управління, які дозволяють користувачеві обмежити або заблокувати встановлення Кукіс (Cookies) на ваших системах. Зверніть увагу, що відключення Кукіс (Cookies) щодо доменів першої категорії (відвідуваних сайтів) та інших доменів (сайтів, пов'язаних з відвідуваними) може привести в деяких випадках до обмеженої функціональності цих веб-сайтів.</li>
                        <li>Інші права Користувачів в зв'язку з обробкою їх персональних даних Компанією:
                            <ul>
                                <li>знати про місцезнаходження бази персональних даних, яка містить персональні дані користувачів OLX.ua, її призначення та найменування, місцезнаходження власника і розпорядників персональних даних, або дати відповідне доручення щодо отримання цієї інформації уповноваженими користувачами Сайту крім випадків, встановлених законом;</li>
                                <li>отримувати інформацію про умови надання доступу до персональних даних, зокрема інформацію про третіх осіб, яким передаються персональні дані користувачів Сайту;</li>
                                <li>доступ до своїх персональних даних;</li>
                                <li>отримувати не пізніше як за тридцять календарних днів з дня надходження запиту, крім випадків, передбачених законом, відповідь про те, обробляються чи зберігаються його персональні дані, а також отримувати зміст таких персональних даних;</li>
                                <li>пред'являти вмотивовану вимогу власнику персональних даних із запереченням проти обробки персональних даних;</li>
                                <li>пред'являти вмотивовану вимогу щодо зміни або знищення персональних даних власником та/або розпорядником персональних даних, якщо ці дані обробляються незаконно чи є недостовірними;</li>
                                <li>на захист персональних даних від незаконної обробки та випадкової втрати, знищення, пошкодження у зв'язку з умисним приховуванням, ненаданням чи несвоєчасним їх наданням, а також на захист від надання відомостей, що є недостовірними чи ганьблять честь, гідність та ділову репутацію;</li>
                                <li>звертатися зі скаргами на обробку персональних даних до органів державної влади та посадових осіб, до повноважень яких належить забезпечення захисту персональних даних, або до суду;</li>
                                <li>застосовувати засоби правового захисту в разі порушення законодавства про захист персональних даних;</li>
                                <li>відкликати згоду на обробку персональних даних;</li>
                                <li>знати механізм автоматичної обробки персональних даних;</li>
                                <li>на захист від автоматизованого рішення, що має для користувачів Сайту правові наслідки.</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    БЕЗПЕКА
                    <p>Вся інформація, яку ми збираємо в розумних межах захищена технічними засобами і процедурами забезпечення безпеки з метою запобігання несанкціонованому доступу або використання даних. Афілійовані з Компанією особи, надійні партнери і незалежні постачальники послуг зобов'язуються використовувати отриману від Компанії інформацію відповідно до наших вимог до безпеки і цієї Політикою Конфіденційності.</p>
                </li>
                <li>
                    ВНЕСЕННЯ ЗМІН ДО ЦІЄЇ ПОЛІТИКИ
                    <ul>
                        <li>Ця політика конфіденційності була в останнє оновлена 10.05.2017. Компанія може час від часу оновлювати цю політику конфіденційності, нова редакція Політики конфіденційності вступає в силу з моменту її розміщення в мережі Інтернет за вказаною в цьому пункті адресою, якщо інше не передбачено новою редакцією Політики конфіденційності. Чинна редакція Політики конфіденційності завжди знаходиться на сторінці за адресою <a href="#r12">https://www.olx.ua/uk/terms/#r12</a>.</li>
                        <li>У разі якщо Компанією були внесені будь-які зміни в Політику Конфіденційності, з якими Користувач не згоден, він зобов'язаний припинити використання сервісів Сайту. Факт продовження використання Сайту є підтвердженням згоди і прийняття Користувачем відповідної редакцією Політики Конфіденційності.</li>
                    </ul>
                </li>
            </ul>

            <h4 class="c62 fbold xx-large" id="r13">Додаток №2 - Умови використання корпоративних облікових записів розділу «Нерухомість» <a class="fright xx-small" href="#top">Повернутись до початку</a></h4>
            <ul class="separate">
                <li>Корпоративні облікові записи дозволяють використовувати один обліковий запис на Сайті декільком особам, пов'язаними з Користувачем - власником такого облікового запису трудовими, або агентськими відносинами.</li>
                <li>Корпоративні облікові записи на Сайті доступні тільки для розділу «Нерухомість» (https://www.olx.ua/uk/nedvizhimost/).</li>
                <li>Особи, які мають доступ до корпоративного облікового запису мають представляти одного суб'єкта господарювання.</li>
                <li>Для створення корпоративного облікового запису Користувач зв'язується з відповідальним менеджером проекту «Нерухомість», надає Компанії дані господарюючого суб'єкта (найменування, інформацію про знак для товарів та послуг, або інші засоби індивідуалізації, адресу, номери телефонів, іншу інформацію, яка може бути у запитана менеджером).</li>
                <li>Для призначення осіб, які можуть використовувати корпоративний обліковий запис, Користувач може використовувати тільки відповідний інструмент CRM системи, та вказує адресу електронної пошти, номери телефонів осіб, яким надається можливість використовувати корпоративний обліковий запис, через CRM систему.</li>
                <li>Загальна кількість осіб, що мають доступ до корпоративного облікового запису, обмежується 50 (п'ятдесятьма), в залежності від обраного пакета.</li>
                <li>У разі порушення Користувачем умов використання корпоративного облікового запису, Компанія має право заблокувати обліковий запис Користувача без повернення сплачених коштів. </li>
            </ul>
        </div>
    </div>
</div>