/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'bootstrap';
@import 'bootstrap/theme';
@import 'chosen';
@import 'listings';

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

p {
    font-size: 20px;
}

select{
    width: 100%;
    height: 50px;
    background-color: #fff;
    font-size: 20px;
}

.button{
  width: 100%;
  font-size: 30px;
  height: 45px;
  color: #fff
}

hr.line { 
  height: 3px; 
  border-style: solid; 
  border-color: #000; 
  border-width: 3px 0 0 0;
} 

.textMini {
    display: block;
    display: -webkit-box;
    max-width: 100px;
    height: 50px;
    margin: 0 auto;
    line-height: 1.2;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text {
    display: block;
    display: -webkit-box;
    max-width: 400px;
    height: 100px;
    line-height: 1.2;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.textfield {
  width: 100%;
  margin: 0;
  height: 50px;
  font-size: 18px;
}

body {
background-color: #000;
color: #333333;
font-family: Arial, Helvetica, sans-serif;
}

.tableleft {
    right: 0;
    width: 21%;
}

.tablefull {
    right: 0;
    width: 100%;
}

.selectindex{
    width: 100%;
    height: 50px;
    font-size: 20px;
}

select{
    width: 100%;
    height: 50px;
    background-color: #fff;
    font-size: 20px;
}

a:hover{
    background-color: #fff
}

.left {
    text-align: -webkit-right;
}

th {
    width: 7%; 
    text-align: center;
}



.textfield {
  width: 100%;
  margin: 0;
}

.container{
  //background-color: #fff;
      padding-top: 70px;
}

li:hover {
    background-color: #1f6baa;
}

a.filterrific_current_sort_column:hover {
    background-color: #fff;
}

a.filterrific_sort_column:hover {
    background-color: #fff;
}

a:hover {
    background-color: #fff;
}

.navbar-default {
    background-color: #999999;
    border-color: #999;
}

.navbar-default .navbar-brand{
    font-family: guardian-egyptt, georgia, serif;
    font-weight: 400;
    color: #d5641c;
    font-size: 30px;
}

.navbar-default .navbar-naw > li  > a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #206caa;
}

.center {
    text-align: center;
}

.col-md-3:nth-child(4n+1){
    clear: left;
}



.col-md-6 {
    h3{
        font-size: 45px;
    }
    h5{
        font-size: 25px;
    }
    p{
        font-style: 18px;
    }
}

.jumbotron {
background-image: url('https://www.dropbox.com/s/al6kht0vfe2i057/decisions_at_shelf.jpg?dl=1'); 
 h1, h2 {
    font-family: guardian-egyptt, georgia, serif;
 }
}